{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Nancy Echeverria Fotógrafa</h1>
    <div class="about">
        <img src="https://picsum.photos/300/350">
        <div class="about-content">
            <h3>Alta Resolución</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta architecto impedit unde totam consequatur sapiente rem veritatis exercitationem. Pariatur corrupti maxime officiis ea consequuntur commodi earum, dolor labore quos libero.</p>
        </div>
    </div>
{% endblock %}